@keyframes copyright {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes push-fest-close-icon {
  0% {
    right: 4rem;
  }

  100% {
    right: 3rem;
  }
}

@keyframes push-fest-close-icon-to40 {
  0% {
    right: 3rem;
    opacity: 1;
  }

  100% {
    opacity: 0;
    right: 4rem;
  }
}
@keyframes push-fest-logo-margin-left {
  0% {
    opacity: 0;
    margin-left: -50px;
  }
  30% {
    opacity: 0;
    margin-left: -50px;
  }
  100% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes push-fest-logo-margin-leftto0 {
  100% {
    opacity: 0;
    margin-left: -50px;
  }
  70% {
    opacity: 0;
    margin-left: -50px;
  }
  0% {
    opacity: 1;
    margin-left: 0px;
  }
}

@keyframes push-fest-content-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes push-fest-content-opacityto0 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes push-fest-width-0 {
  0% {
    width: 78rem;
  }
  33.333% {
    width: 78rem;
    opacity: 1;
  }

  100% {
    opacity: 0;

    width: 0%;
  }
}

@keyframes push-fest-img-panelto0 {
  0% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@keyframes push-fest-width-500 {
  0% {
    width: 0;
  }

  100% {
    width: 78rem;
  }
}
@keyframes toright {
  0% {
    width: 122.6rem;
  }

  100% {
    width: 49rem;
  }
}

@keyframes toleft {
  0% {
    width: 49rem;
  }
  33.333% {
    width: 49rem;
  }
  100% {
    width: 122.6rem;
  }
}

@keyframes down {
  0% {
    margin-top: -20px;
    opacity: 0;
  }
  50% {
    margin-top: -20px;
    opacity: 0;
  }
  75% {
    margin-top: -20px;
    opacity: 0;
  }
  100% {
    margin-top: 0px;
    opacity: 100;
  }
}

@keyframes width {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
@keyframes width-img-mask-0 {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
    display: none;
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes rotate-to0 {
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
    display: none;
  }
  0% {
    transform: rotate(90deg);
  }
}

@keyframes menutop-to-30 {
  0% {
    margin-top: 0;
    opacity: 0;
  }
  100% {
    margin-top: 30px;
    opacity: 1;
  }
}

@keyframes menuopacity-to0 {
  0% {
    opacity: 1;
    height: 540px;
    // background: #666;
  }
  100% {
    opacity: 0;
    height: 540px;
    // background: #333;
  }
}

@keyframes menuheader-bg {
  0% {
    background: #666;
  }
  100% {
    background: #272727;
  }
}

@keyframes imgpanel-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fest-to0 {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}
